// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.carts {
    .checkout {
        background-color: #9d9 !important;
        color: #000 !important;
    }
    .checkout:hover {
       background-color: #a4f4a4 !important;
    } 

    table {
        border-collapse: collapse;
    }
    td {
        padding: 0.5em;
    }
    td.quantity {
        white-space: nowrap;
    }
    td.quantity::after {
        content: " x";
    }
    td.price {
        font-weight: bold;
    }
    tfoot {
        th, td.price {
            font-weight: bold;
            padding-top: 1em;
        }
        th {
            text-align: center;
        }
        th.price {
            border-top: solid thin;
        }
    }
    input[type="submit"] {
        background-color: #881;
        border-radius: 0.354em;
        border: solid thin #441;
        color: white;
        font-size: 1em;
        padding: 0.354em 1em;
        float: right;
        margin-left: 10px;
    }
    input[type="submit"]:hover {
        background-color: #992;
    }
}